:root {
  --white: #ffffff;
  --winter: #9eb8d9;
  --wedding: #a25772;
  --navyblue: #161a30;
  --grey: #b6bbc4;
  --milkgrey: #f0ece5;
  --sage: #c8e4b2;
  --green: #65b741;
  --lightgreen: #bed754;
  --teal: #9ed2be;
  --darkteal: #5eaaa8;
  --blue: #0174be;
  --skyblue: #61c3ff;
  --yellow: #ffc730;
  --orange: #e36414;
  --darkorange: #ff5f00;
  --red: #b80000;
  --softpink: #ffd0d0;
  --pink: #ff9eaa;
  --darkred: #b20600;
  --maroon: #750e21;
  --black: #191919;
  --black-matte: #252423;
  --beige: #e6e2c3;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--milkgrey);
}

.logo {
  padding: 1rem 1rem;
}
.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-image {
  border: 1px solid;
  border-radius: 5%;
  object-fit: contain;
}

.title {
  font-size: 2rem;
  color: white;
  background-color: black;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  color: rgb(246, 243, 243);
  background-color: rgb(109, 42, 42);
  padding: 0.5rem 0.5rem;
  width: 250px;
  border: 1px solid rgb(230, 214, 214);
  border-radius: 0.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#tooltip {
  background: #ee0000;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}
#tooltip {
  /* ... */
  display: none;
}

#tooltip[data-show] {
  display: block;
}
.loop-alternate-infinity {
  background-color: #255ffd;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.animejs-test {
  background-color: var(--black-matte);
}
.controls {
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.controls button {
  position: relative;
  display: block;
  margin: 0 0 0 -1px;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid var(--skyblue);
  background-color: transparent;
  color: var(--skyblue);
}
.controls button:hover {
  background-color: var(--skyblue);
  color: #161a30;
}
.shadow {
  position: absolute;
  opacity: 0.2;
}
.ball-container {
  background-color: var(--black);
}
.square,
.circle {
  pointer-events: none;
  position: relative;
  width: 28px;
  height: 28px;
  margin: 1px;
  background-color: var(--yellow);
  font-size: 14px;
}
.gallery-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c81883;
  color: white;
}
.gallery-title-text {
  font-family: "Sriracha", cursive;
  font-size: 2rem;
}
.gallery-image {
  width: 400px;
  height: 600px;
}
.image-container {
  align-items: center;
}
.slider-controls a {
  background-color: #919191;
}
